

.form_main{
    background-color: rgb(231, 226, 226);
    height: 600px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: popp;
}
.form_main input{
    height: 40px;
    width: 250px;
    border-radius: 3px;
    outline: none;
    border: navajowhite;
    margin-top: 10px;
}
.form_main form label{
    color: black;
     margin: 10px 0;
}
